{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Cropper for segmentation</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<form class="flex justify-between p-2" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div>
        <input name="original_image" type="file" accept="image/*" id="inputImage" required>
        <input name="mask_image" type="file" accept="image/*" id="inputMask" required>
    </div>
    <input type="submit" class="border-2 border-red-500 hover:bg-red-200  px-4 py-1 rounded" value="Continue">
</form>

<div class="text-sm text-red-500 p-2">
    {% if form.errors %}
    {{ form.errors }}
{% endif %}
</div>

</body>
</html>